[submodule "bling"]
	path = bling
	url = https://github.com/BlingCorp/bling.git
[submodule "module/bling"]
	path = module/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "module/revelation"]
	path = module/revelation
	url = https://github.com/guotsuan/awesome-revelation.git
